<!--게시글 상세 페이지-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail</title>
  <style>
    body{text-align: center;}
  </style>
</head>
<body>
  <h1>{{post.title}}</h1>
  <div>
  작성자 : {{post.writer}}
  <br>
  날짜 : {{post.pub_date}}
  </div>
  <hr>
  <p>{{post.body}}</p>
  <a href= "{% url 'edit' post.id %}">수정하기</a>
  <a href= "{% url 'delete' post.id %}">삭제하기</a>
</body>
</html>