<!--게시물 리스트 페이지-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'home.css' %}">
  <title>POST</title>
  <style>
    body{text-align: center;}
  </style>
</head>
<body>
  <h1>Post</h1>
  <hr>

  <div class="post_navbar">
    <div class="post_search">
      <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="글 제목 검색" aria-label="Search" name="q" value="{{q}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
      </form>
    </div>
    <div class="post_add">
      <a href="{% url 'main' %}">메인으로</a>
      <a href="{% url 'new' %}">글쓰기</a>
    </div>
  </div>

  
  <div class="container">
  {% for post in posts %}
      <div>
      <h3>{{post.title}}</h3>
      <p>{{post.writer}} :
      {{post.summary}} <a href="{% url 'detail' post.id %}">...more</a>
      </p>
      <br>
      <hr>
      </div>
  {% endfor %}
  </div>
</body>
</html>