{% extends 'base.html' %}
<!--글쓰기 페이지-->
{% load static %}

{% block title %}
게시물 작성
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'post/css/new.css' %}">
{% endblock %}

{% block content %}
<form action="{%url 'create' %}" method="post">
  {% csrf_token %}
  <p id="title">제목 :
    <input class=title type="text" name="title">
  </p>
  <p>책 선택
    <img src="{% static 'search.png' %}" style="margin-right: -5px; width: 32px; height: 32px; margin-bottom: -10px;">
    <input class="form-control" type="search" placeholder=" TEXT" aria-label="Search" name="q" value="{{q}}">
    <input class="writer" type="text" name="writer" value="{{post.writer}}">
    <!-- 이 부분이 User 정보와 연동되는지 확인해야함 -->
  </p>
  <div class="book" id="picture"></div>
  <textarea class="book" name="body" id="" cols="30" rows="10"></textarea>
  <div class="button">
    <button type="submit">제출하기</button>
  </div>
</form>
{% endblock %}