{% extends 'base.html' %}
{% load static %}
<!-- 
{% block body %}
<h1>{{ user.username }}</h1>
{% with user_followers=user.followers.all %}
    {% if request.user == user %}
        <button>회원 수정</button>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="btn btn-secondary">회원 탈퇴</button>
        </form>
    {% else %}
        <hr>
            {% if request.user in user_followers %}
                <button>팔로우 취소</button>
            {% else %}
                <button>팔로우</button>
            {% endif %}
    {% endif %}
    <p> {{ user_followers|length }}명이 팔로우하고 있습니다.</p>
    <p> {{ user.followings.count }}명을 내가 팔로우하고 있습니다.</p>
{% endwith %}
<hr>
<h3>작성한 글 목록</h3>
{% for article in user.article_set.all %}
    <button>
        <p>{{ article.title }}</p>
    </button>
{% endfor %}
<h3>좋아요한 글 목록</h3>
{% for article in user.like_articles.all %}
    <button>
        <p>{{ article.title }}</p>
    </button>
{% endfor %}
{% endblock %} -->

{% block title %}
{{ user.username }}님 프로필
{% endblock %}

{% block link %}
{% static 'user/css/profile.css' %}
{% endblock %}

{% block content %}

<hr id="firsthr">
<div class="profile">
    <div id="info">
        <div class="profile-user-img">
            <img src="{% if profile.image %}{{ profile.image.url }}{% else %}https://i.stack.imgur.com/34AD2.jpg{% endif %}"
                id="preview" class="profile_img" onchange="changeImage(this)">
        </div>
        <div id="name">{{ user.username }}
        </div>
        <P id="mail">{{user.email}}</P>
        <hr>

        <h3>소개</h3>
        <h5>{{profile.description}}
        </h5>
        <button class="favoritestyled" type="button"> <a href="{% url 'writeprofile' %}">프로필 편집하기</a> </button>
</div> 

<div class="info">
    <div id="circle1" style="float:left;">
        게시글
        <br>
        {{ count }}개
    </div>
    <div id="circle1" style="float:left;">
        팔로잉
        <br>
        {{ user.followings.count }}
    </div>
    <div id="circle1" style="float:left;">
        팔로워
        <br>
        {{ user_followers|length }}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="write">
        <a href="{% url 'new' %}">
            <button class="write1" type="button" width="400px">글쓰기 </button>
        </a>
    </div>
</div>
</div>
<br>
<hr id="hr1">
{% endblock %}