{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>{% block title %}{% endblock %}</title>

    <!-- favicon -->
    <link rel="icon" href="{% static 'base/images/logo.ico' %}" />

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% block link %} {% endblock %}">
</head>

<body>
    <div class="container">
        <nav class="navbar d-flex justify-content-center align-items-center mt-4">
            <!-- 가운데 로고 -->
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img id="logo-img" src="{%static 'base/images/logo.png' %}">
                </a>
            </div>

            <div class="nav-content">
                <!-- 좌측 햄버거 버튼 -->
                <ul>
                    <li class="dropdown">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'base/images/menu.png' %}" alt="menu">
                        </a>
                        <div class="dropdown-content">
                            <a href="#">Menu1-1</a>
                            <a href="#">Menu1-2</a>
                            <a href="#">Menu1-3</a>
                            <a href="#">Menu1-4</a>
                        </div>
                    </li>
                </ul>

                <!-- 우측 -->
                <ul>
                    {% if user.is_authenticated %}

                    <li class="member">
                        <a href="{% url 'profile' %}">{{ user.username }}님</a>
                    </li>
                    <li class="member">
                        <a href="{% url 'logout' %}">로그아웃</a>
                    </li>
                    <li class="member">
                        <a href="{% url 'new' %}">글쓰기</a>
                    </li>
                    {% else %}
                    <li class="member">
                        <a href="{% url 'login' %}">로그인</a>
                    </li>
                    <li class="member">
                        <a href="{% url 'signup' %}">회원가입</a>
                    </li>
                    {% endif %}
                    <li class="search">
                        <img src="{% static 'search.png' %}">
                    </li>
                    <li>
                        <input class="search_icon" type="search" placeholder="text" aria-label="Search" name="q"
                            value="{{q}}">
                    </li>
                </ul>
            </div>
        </nav>
        <hr>
        {% block content %}
        {% endblock %}
    </div>
    <footer id="footer">
        <p>북:로그</p>
        <p>멋쟁이사자처럼 9기 @ 명지대(서울)</p>
        <p>고나연, 김예빈, 김수정, 박은지, 최시영, 정래현, 한준혁</p>
        <div id="thanks-to">
            <p>Especially Thanks to</p>
            <p>곽민아, 이서현</p>
        </div>
    </footer>
</body>

</html>