@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');

body {
  font-family: 'NanumSquare';
  background-color: #fff4ef;
}

.signup-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-container {
  width: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-header {
  display: flex;
  width: 920px;
  justify-content: center;
  border-bottom: 1px solid;
}

.signup__body {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-around;
  align-items: center;
  width: 920px;
  border-bottom: 1px solid;
}

.login__logo-img {
  width: 211px;
  height: 211px;
  border-radius: 70%;
}

.signup__form {
  padding-top: 79px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup__form div {
  padding-bottom: 27px;
  display: flex;
  width: 430px;
  justify-content: space-between;
  align-items: center;
}

.signup__form .signup__form__re-pw {
  padding-bottom: 44px;
}

.signup__form div > label {
  padding-right: 36px;
  font-size: 14px;
}

.signup__form div > input {
  width: 286px;
  height: 40px;
  border: none;
  padding-left: 10px;
  color: #909090;
}

  input[type=password]{
    font-family: 'Malgun gothic', dotum, sans-serif;
  }

.signup__form__submit {
  width: 160px;
  height: 40px;
  border: 1px solid #000000;
  background-color: #fff4ef;
  transition: border 0.3s, color 0.3s, background-color 0.3s;
}

.signup__form__submit:hover{
  color: #ffffff;
  background: #B19184;
  border: none
}