{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'signup/css/login.css' %}">
{% endblock %}
{% block content %}
<section class="login">
    <img src="{% static 'base/images/logo.jpeg' %}" alt="logo" class="login__logo-img">
    <form action="{% url 'login' %}" method="post" class="login__form">
        {% if error  %}
            <h1>login fail</h1>
        {% endif %}
        {% csrf_token %}
        <div class="login__form__id">
            <label for="">ID</label>
            <input type="text" name="username" id="" placeholder="ID를 입력해주세요.">
        </div>
        <div class="login__form__pw">
            <label for="">PW</label>
            <input type="password" name="password" id="" placeholder="PW를 입력해주세요.">
        </div>
        <input type="submit" value="로그인" class="login__form__submit">
    </form>

</section>
{% endblock %}